<!DOCTYPE html>
<html lang="en">

<%- include('../components/HEAD', { TITLE: 'Private messaging app using Dugong v3 - Dashboard' }) %>

<body class="dashboard-page">

  <%- include('../components/molecules/Header') %>
  
  <main>
    <h1>Welcome, <%= user.name %>!</h1>
    <img src="<%= user.picture %>" alt="Profile Picture" width="100">
    <p>Email: <%= user.email %></p>
  </main>

  <%- include('../components/molecules/Footer') %>

</body>
</html>