<div class="message">
  <span class="sender">
    From: <%= message.senders.sender_name %>
  </span>
  
  <span class="date">
    at: <%= new Date(message.created_at).toLocaleDateString('id-ID', { day: '2-digit', month: 'long', year: 'numeric' }) %>
  </span>
  
  <div
    class="subject"
    hx-get="/api/message/<%= message.id %>"
    hx-trigger="click"
    hx-target="#message_content"
    hx-swap="innerHTML"
    @click="message_id = <%= message.id %>"
  >
    Subject: <strong><%= message.subject %></strong>
  </div>
</div>